#logo {
    width: 100px;    
}

header p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    color: #71266996;
}

#titulo {
    font-size: 26px;
    color: #712669;
    margin: 0;
}


header {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 98%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8c4da;
    padding: 0px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
}

.cinta-opciones {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 5px;
    justify-items: center;
    color: #ffffff;
    font-family: 'Roboto';
    gap: 20px;
}

.cinta-opciones p {
    border-radius: 10px 10px 10px 0px;
    transition: 1s;
    font-size: 16px;
}

.cinta-opciones a {
    text-decoration: none;
}

.cinta-opciones p:hover {
    transition: 1s;
    transform: scale(1.1);
    color: #712669;
}

#opciones {
    justify-items: center;
}

#bud{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 150px 0;
}

#mision{
    position: relative;
    display: inline-block;
    width: 800px;
    background-color: #eea3e5;
    border-radius: 15px;
    align-self: flex-start;
    box-shadow: 15px 15px 15px #00000050;
}

#tit {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Roboto';
}

#text {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#bud img {
    width: 500px;
    border-radius: 30px;
}

#mision div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}

#vision {
    position: relative;
    display: inline-block;
    width: 800px;
    background-color: #d39186;
    border-radius: 15px;
    align-self: center;
    box-shadow: 15px 15px 15px #00000050;
}

#vision div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
}

#descripcion {
    position: relative;
    display: inline-block;
    width: 800px;
    border-radius: 15px;
    align-self: end;
    background-color: #f9e0f1;
    box-shadow: 15px 15px 15px #00000050;
}

#descripcion div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
}

#objetivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo-arriba {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    color: #712669;
    letter-spacing: 5px;
}

#imagen-objetivos {
    width: 100%;
}

#imagen-objetivos img {
    width: 100%;
}

#imagen-objetivos {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    align-self: center;
}

#imagen-objetivos div {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    width: 100%;
}

#imagen-objetivos p {
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #71266996;
}

#texto {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gale{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    color: #712669;
}

#imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #71266996;
    border-radius: 20px;
}

#tit-img {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #712669;
}

#des-img {
    font-size: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #71266996;
    margin: 10px;
}

#precio {
    font-size: 25px ;
    font-family: 'Roboto';
    font-weight: 700;
}

#precios {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#precios-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

#p-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 24px;
    background-color: #f8c4da;
    margin: 20px;
    border-radius: 30px;
}

#p-img img {
    border-radius: 20px;
}

footer {
    display: flex;
    background-color: #313131;
    height: 100%;
}

#tec {
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #ffffff;
}
